#hero{
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    background-image: linear-gradient(
        0deg,
        rgba(83, 80, 80, 0.596),
        rgba(54, 54, 54, 0.397)
    )
    ,url("../images/tpfb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nuestros-productos{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 120px 0px;
        & h2 {
            margin-top: 0;
            font-size: 2em;
        }
        & h3 {
            margin-top: 0;
            font-size: 1em;
        }
        & p {
            display: none;
        }
        & .muestras {
            justify-content: center;
        }
        & .carta {
            max-width: 100%;
            max-height: 100%;
            height: 300px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
            background-position: center;
            background-size: 100% 10px;
            background-repeat: no-repeat;
            padding: 50px;
            margin: 20px;
            border-radius: 15px;
        }
}