#somos-fabricantes {
    .container{
        display: flex;
        justify-content: center;
        margin-bottom: 1px;
    }
    .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        margin-top: 0px;
    }
    .img-container{
        background-image: url("Imagenes/Farbricantes.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
}